@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

// Typography
.elegant-text {
    font-family: 'Playfair Display', serif;
}

.plain-text {
    font-family: Arial, sans-serif;
}

.from-label {
    color: #f8f9fa !important;  
}

.form-text {
    color: #d1d1d1 !important; 
}

.invalid-feedback, .text-danger {
    color: #ffb3b3 !important;  
}